<nav class="side-nav">
    <div class="brand-logo">
      
        <img
          class="brand-logo-img"
          src="/images/White on Transparent.png"
          alt="Logo of the brand"
        />
      
    </div>
    <div class="nav-link-group-div">
      <ul class="nav-link-ul">
        
