<%- include("partials/header") %>

<%- include("partials/headTop") %>
<link rel="stylesheet" href="../../stylesheets/Landing.css">
<%- include("partials/headBottom") %>


    <section class="container">

        <div class="logo-div-landing">
            <a href="/"><img src="../images/Original on Transparent.png" alt="e-Brain logo"
                    class="logo-self-landing"></a>
            <h1 class="title-landing"><i class="fas fa-chart-line"></i> Finance Manager</h1>
        </div>
        <div class="box-landing">
            <a class="btn-signup" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
            <a class="btn-login" href="/signup"><i class="fas fa-user-plus"></i> Signup</a>
        </div>

    </section>





</body>
</html>