.container-history {
  display: grid;
  grid-template-columns: 100%;
  margin: 0;
  padding: 0;
  text-align: start;
}

.analytics-overview {
  display: grid;
  grid-template-columns: 100%;
  background-color: white;
  margin: 2.5%;
  border-radius: 10px;
}

.box-heading {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 0 0 1.5% 1.5%;
  border-bottom: 1px solid rgba(173, 173, 173, 0.534);
}

.box-title {
  color: #3f4441;
}

.report {
  color: #3f4441;
  text-decoration: none;
}

.report:hover {
  color: #e7a61a;
  transition-duration: 0.2s;
}

.stats-mini {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.stats-data {
  border-right: 0.5px solid rgba(173, 173, 173, 0.534);
  margin: 0;
  padding: 0;
}

.stats-data:hover {
  background-color: #daf6fcea;
  transition-duration: 0.7s;
}

.stats-data-last:hover {
  background-color: #daf6fcea;
  transition-duration: 0.7s;
}

.history-info,
.history-currency {
  color: #3f4441;
  font-weight: 400;
}

.container-two-cols {
  display: grid;
  grid-template-columns: 50% 50%;
}

.history-box {
  background-color: white;
  border-radius: 10px;
  margin: 4.25%;
}

.history-box-title {
  padding: 0 0 1.5% 1.5%;
  color: #3f4441;
  border-bottom: 0.1px solid rgba(173, 173, 173, 0.534);
}

.history-box-data {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
}

.history-box-titles {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-bottom: 1px solid rgba(173, 173, 173, 0.534);
}

.history-data {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  border-top: 0.1px solid rgba(173, 173, 173, 0.534);
}

.history-data:hover {
  background-color: #daf6fcea;
  transition-duration: 0.7s;
}


@media screen and (max-width: 700px){
  .entries-section {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    border-top: 1px solid #3f4441;
  }

  .stats-mini {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }

  .container-two-cols {
    display: grid;
    grid-template-columns: 100%;
  }
  .stats-data {
    border-bottom: 0.5px solid rgba(173, 173, 173, 0.534);
    border-right: none;
    margin: 0;
    padding: 0;
  }
}